* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --website-bg-color: #e9d0ff;
    --text-color: black;
    --font-family: 'Roboto', sans-serif;
    --h1-font-size:
}

body {
    background-color: var(--website-bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 50px 150px 50px 150px;
    height: auto;
    min-height: 100vh;
}

header {
    height: auto;
    width: auto;
    max-height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

header .logo img {
    height: 50px;
    width: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    font-weight: 500;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
}

header nav ul li:first-child a::after {
    width: 100%;
}

header nav ul li a:hover::after {
    width: 100%;
}

.main-container {
    height: 100%;
}

.hero-section {
    height: auto;
    max-height: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-section-title {
    font-size: 10em;
    line-height: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeInLeft 0.8s ease forwards;
}

.hero-section-title:nth-child(1) {
    animation-delay: 0.2s;
}

.hero-section-title:nth-child(2) {
    animation-delay: 0.4s;
}

.hero-section-title:nth-child(3) {
    animation-delay: 0.6s;
}

.hero-section-title:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-section>.hero-section-title>.hero-section-icon {
    height: 70px;
    width: auto;
}

.works-section {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}